PayanehAmirKabirTransportCompaniesRemoteApplication/Web References/PayanehWS/PayanehWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebMethodReportingInformationPrividerSedimentedLoadsReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi1" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi2" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourAnnouncementHallId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourSedimentedLoadsReportType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerSedimentedLoadsReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerTruckersAssociationFinancialReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi1" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi2" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerTruckersAssociationFinancialReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerContractorCompanyFinancialReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi1" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi2" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourVatStatus" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerContractorCompanyFinancialReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerDriverTruckLoadsReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourDriverId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi1" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi2" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerDriverTruckLoadsReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourAnnouncementHallId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourAnnouncementHallSubGroupId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourAnnouncementHallId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourCompanyCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi1" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi2" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourTargetCityId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi1" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi2" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourAHId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi1" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi2" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourAnnouncementHallSubGroupId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi1" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourDateTimeMilladi2" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDateShamsiFull2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourTime2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourAnnouncementHallId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReport">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationProviderTransportPriceTarrifsReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourAnnouncementHallId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourAnnouncementHallSubGroupId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourOActiveStatus" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationProviderTransportPriceTarrifsReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReport">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodGetDSPersonnelFingerPrints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourSalFull" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourMonthCodeFull" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetDSPersonnelFingerPrintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodGetDSPersonnelFingerPrintsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodComputerMessageProduceCopyOfTurn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourPelak" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourSerial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodComputerMessageProduceCopyOfTurnResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodComputerMessageProduceSodoorNobat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourPelak" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourSerial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodComputerMessageProduceSodoorNobatResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodCarTruckHasTurn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourPelak" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourSerial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodCarTruckHasTurnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodCarTruckHasTurnResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorLoadRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourStrBarName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YournCityCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournBarCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournCompCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournTruckType" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourStrAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YournCarNumKol" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourStrPriceSug" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourStrDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorLoadRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodTransportCompanyLoadCapacitorLoadRegisterResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourStrBarName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YournCityCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournBarCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournCompCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournTruckType" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourStrAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YournCarNumKol" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourStrPriceSug" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourStrDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourTarrifTransportPriceTypeId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTIdResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorLoadEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YournEstelamId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourStrBarName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YournCityCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournBarCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournCompCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournTruckType" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourStrAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YournCarNumKol" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourStrPriceSug" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourStrDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorLoadEditResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorLoadDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YournEstelamId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorLoadDeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodTransportCompanyLoads">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodTransportCompanyLoadsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyCities">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodTransportCompanyCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodTransportCompanyCitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyCarTypes">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodTransportCompanyCarTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodTransportCompanyCarTypesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorLoads">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourCompanyCode" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorLoadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodTransportCompanyLoadCapacitorLoadsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorSedimentedLoads">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourCompanyCode" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorSedimentedLoadsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodTransportCompanyLoadCapacitorSedimentedLoadsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetNSSCarTruckBySmartCarNofromRmto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourSmartCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pelak" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetNSSCarTruckBySmartCarNofromRmtoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pelak" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourSmartCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pelak" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pelak" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetNSSDriverTruckBySmartCarNofromRmto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourSmartCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonFullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DrivingLicenceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetNSSDriverTruckBySmartCarNofromRmtoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonFullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DrivingLicenceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourSmartCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonFullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DrivingLicenceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonFullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DrivingLicenceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodMobileUserMobileNumberRegistering">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourSmartCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourMobileNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodMobileUserMobileNumberRegisteringResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodCreateRelationBetweenCarTruckAndDriverTruck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourCarTruckSmartCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDriverTruckSmartCardNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodCreateRelationBetweenCarTruckAndDriverTruckResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduce">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourComapnyCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournEstelamId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourCarTruckSmartCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDriverTruckSmartCardNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduceResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourComapnyCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YournEstelamId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourCarTruckSmartCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDriverTruckSmartCardNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiionResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YournEstelamId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourTurnId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="StrExitDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrExitTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nEstelamId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TurnId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CarTruckLoaderTypeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pelak" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DriverTruckFullNameFamily" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DriverTruckDrivingLicenseNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetCityName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrPriceSug" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PermissionUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OtherNote" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StrExitDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrExitTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nEstelamId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TurnId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CarTruckLoaderTypeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pelak" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DriverTruckFullNameFamily" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DriverTruckDrivingLicenseNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TargetCityName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrPriceSug" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PermissionUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OtherNote" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyGetMoneyWalletInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourComapnyCode" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodTransportCompanyGetMoneyWalletInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodTransportCompanyGetMoneyWalletInventoryResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetAllPermissionEnterExits">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YournEstelamId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetAllPermissionEnterExitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodGetAllPermissionEnterExitsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetTransportCompaniesDailyMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourDailyMessageColorHolder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetTransportCompaniesDailyMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodGetTransportCompaniesDailyMessageResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourDailyMessageColorHolder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetTransportCompaniesFirstPageMessages">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodGetTransportCompaniesFirstPageMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodGetTransportCompaniesFirstPageMessagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodISCompanyActive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourCompanyCode" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodISCompanyActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodISCompanyActiveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebMethodReportingInformationPrividerSedimentedLoadsReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerSedimentedLoadsReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerSedimentedLoadsReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerSedimentedLoadsReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerTruckersAssociationFinancialReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerTruckersAssociationFinancialReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerTruckersAssociationFinancialReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerTruckersAssociationFinancialReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerContractorCompanyFinancialReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerContractorCompanyFinancialReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerContractorCompanyFinancialReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerContractorCompanyFinancialReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerDriverTruckLoadsReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerDriverTruckLoadsReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerDriverTruckLoadsReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerDriverTruckLoadsReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationProviderTransportPriceTarrifsReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationProviderTransportPriceTarrifsReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationProviderTransportPriceTarrifsReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationProviderTransportPriceTarrifsReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetDSPersonnelFingerPrintsSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetDSPersonnelFingerPrints" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetDSPersonnelFingerPrintsSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetDSPersonnelFingerPrintsResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodComputerMessageProduceCopyOfTurnSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodComputerMessageProduceCopyOfTurn" />
  </wsdl:message>
  <wsdl:message name="WebMethodComputerMessageProduceCopyOfTurnSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodComputerMessageProduceCopyOfTurnResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodComputerMessageProduceSodoorNobatSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodComputerMessageProduceSodoorNobat" />
  </wsdl:message>
  <wsdl:message name="WebMethodComputerMessageProduceSodoorNobatSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodComputerMessageProduceSodoorNobatResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodCarTruckHasTurnSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodCarTruckHasTurn" />
  </wsdl:message>
  <wsdl:message name="WebMethodCarTruckHasTurnSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodCarTruckHasTurnResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorLoadRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorLoadRegister" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorLoadRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorLoadRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTIdSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTId" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTIdSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTIdResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorLoadEditSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorLoadEdit" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorLoadEditSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorLoadEditResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorLoadDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorLoadDelete" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorLoadDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorLoadDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadsSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoads" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadsSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadsResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyCities" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyCarTypesSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyCarTypes" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyCarTypesSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyCarTypesResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorLoadsSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorLoads" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorLoadsSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorLoadsResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorSedimentedLoadsSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorSedimentedLoads" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorSedimentedLoadsSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorSedimentedLoadsResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetNSSCarTruckBySmartCarNofromRmtoSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetNSSCarTruckBySmartCarNofromRmto" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetNSSCarTruckBySmartCarNofromRmtoSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetNSSCarTruckBySmartCarNofromRmtoResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBaseSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBase" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBaseSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetNSSDriverTruckBySmartCarNofromRmtoSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetNSSDriverTruckBySmartCarNofromRmto" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetNSSDriverTruckBySmartCarNofromRmtoSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetNSSDriverTruckBySmartCarNofromRmtoResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBaseSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBase" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBaseSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodMobileUserMobileNumberRegisteringSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodMobileUserMobileNumberRegistering" />
  </wsdl:message>
  <wsdl:message name="WebMethodMobileUserMobileNumberRegisteringSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodMobileUserMobileNumberRegisteringResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodCreateRelationBetweenCarTruckAndDriverTruckSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodCreateRelationBetweenCarTruckAndDriverTruck" />
  </wsdl:message>
  <wsdl:message name="WebMethodCreateRelationBetweenCarTruckAndDriverTruckSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodCreateRelationBetweenCarTruckAndDriverTruckResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduceSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduce" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduceSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduceResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiionSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiion" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiionSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiionResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInfSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInf" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInfSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInfResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyGetMoneyWalletInventorySoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyGetMoneyWalletInventory" />
  </wsdl:message>
  <wsdl:message name="WebMethodTransportCompanyGetMoneyWalletInventorySoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodTransportCompanyGetMoneyWalletInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetAllPermissionEnterExitsSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetAllPermissionEnterExits" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetAllPermissionEnterExitsSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetAllPermissionEnterExitsResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetTransportCompaniesDailyMessageSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetTransportCompaniesDailyMessage" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetTransportCompaniesDailyMessageSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetTransportCompaniesDailyMessageResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetTransportCompaniesFirstPageMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetTransportCompaniesFirstPageMessages" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetTransportCompaniesFirstPageMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetTransportCompaniesFirstPageMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodISCompanyActiveSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodISCompanyActive" />
  </wsdl:message>
  <wsdl:message name="WebMethodISCompanyActiveSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodISCompanyActiveResponse" />
  </wsdl:message>
  <wsdl:portType name="PayanehWebServiceSoap">
    <wsdl:operation name="WebMethodReportingInformationPrividerSedimentedLoadsReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerSedimentedLoadsReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerSedimentedLoadsReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTruckersAssociationFinancialReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerTruckersAssociationFinancialReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerTruckersAssociationFinancialReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerContractorCompanyFinancialReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerContractorCompanyFinancialReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerContractorCompanyFinancialReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerDriverTruckLoadsReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerDriverTruckLoadsReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerDriverTruckLoadsReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReport">
      <wsdl:input message="tns:WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderTransportPriceTarrifsReport">
      <wsdl:input message="tns:WebMethodReportingInformationProviderTransportPriceTarrifsReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationProviderTransportPriceTarrifsReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReport">
      <wsdl:input message="tns:WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetDSPersonnelFingerPrints">
      <wsdl:input message="tns:WebMethodGetDSPersonnelFingerPrintsSoapIn" />
      <wsdl:output message="tns:WebMethodGetDSPersonnelFingerPrintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodComputerMessageProduceCopyOfTurn">
      <wsdl:input message="tns:WebMethodComputerMessageProduceCopyOfTurnSoapIn" />
      <wsdl:output message="tns:WebMethodComputerMessageProduceCopyOfTurnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodComputerMessageProduceSodoorNobat">
      <wsdl:input message="tns:WebMethodComputerMessageProduceSodoorNobatSoapIn" />
      <wsdl:output message="tns:WebMethodComputerMessageProduceSodoorNobatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodCarTruckHasTurn">
      <wsdl:input message="tns:WebMethodCarTruckHasTurnSoapIn" />
      <wsdl:output message="tns:WebMethodCarTruckHasTurnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadRegister">
      <wsdl:input message="tns:WebMethodTransportCompanyLoadCapacitorLoadRegisterSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyLoadCapacitorLoadRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTId">
      <wsdl:input message="tns:WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTIdSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadEdit">
      <wsdl:input message="tns:WebMethodTransportCompanyLoadCapacitorLoadEditSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyLoadCapacitorLoadEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadDelete">
      <wsdl:input message="tns:WebMethodTransportCompanyLoadCapacitorLoadDeleteSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyLoadCapacitorLoadDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoads">
      <wsdl:input message="tns:WebMethodTransportCompanyLoadsSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyLoadsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyCities">
      <wsdl:input message="tns:WebMethodTransportCompanyCitiesSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyCarTypes">
      <wsdl:input message="tns:WebMethodTransportCompanyCarTypesSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyCarTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoads">
      <wsdl:input message="tns:WebMethodTransportCompanyLoadCapacitorLoadsSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyLoadCapacitorLoadsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorSedimentedLoads">
      <wsdl:input message="tns:WebMethodTransportCompanyLoadCapacitorSedimentedLoadsSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyLoadCapacitorSedimentedLoadsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSCarTruckBySmartCarNofromRmto">
      <wsdl:input message="tns:WebMethodGetNSSCarTruckBySmartCarNofromRmtoSoapIn" />
      <wsdl:output message="tns:WebMethodGetNSSCarTruckBySmartCarNofromRmtoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBase">
      <wsdl:input message="tns:WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBaseSoapIn" />
      <wsdl:output message="tns:WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSDriverTruckBySmartCarNofromRmto">
      <wsdl:input message="tns:WebMethodGetNSSDriverTruckBySmartCarNofromRmtoSoapIn" />
      <wsdl:output message="tns:WebMethodGetNSSDriverTruckBySmartCarNofromRmtoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBase">
      <wsdl:input message="tns:WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBaseSoapIn" />
      <wsdl:output message="tns:WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodMobileUserMobileNumberRegistering">
      <wsdl:input message="tns:WebMethodMobileUserMobileNumberRegisteringSoapIn" />
      <wsdl:output message="tns:WebMethodMobileUserMobileNumberRegisteringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodCreateRelationBetweenCarTruckAndDriverTruck">
      <wsdl:input message="tns:WebMethodCreateRelationBetweenCarTruckAndDriverTruckSoapIn" />
      <wsdl:output message="tns:WebMethodCreateRelationBetweenCarTruckAndDriverTruckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduce">
      <wsdl:input message="tns:WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduceSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiion">
      <wsdl:input message="tns:WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiionSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInf">
      <wsdl:input message="tns:WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInfSoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyGetMoneyWalletInventory">
      <wsdl:input message="tns:WebMethodTransportCompanyGetMoneyWalletInventorySoapIn" />
      <wsdl:output message="tns:WebMethodTransportCompanyGetMoneyWalletInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetAllPermissionEnterExits">
      <wsdl:input message="tns:WebMethodGetAllPermissionEnterExitsSoapIn" />
      <wsdl:output message="tns:WebMethodGetAllPermissionEnterExitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTransportCompaniesDailyMessage">
      <wsdl:input message="tns:WebMethodGetTransportCompaniesDailyMessageSoapIn" />
      <wsdl:output message="tns:WebMethodGetTransportCompaniesDailyMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTransportCompaniesFirstPageMessages">
      <wsdl:input message="tns:WebMethodGetTransportCompaniesFirstPageMessagesSoapIn" />
      <wsdl:output message="tns:WebMethodGetTransportCompaniesFirstPageMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodISCompanyActive">
      <wsdl:input message="tns:WebMethodISCompanyActiveSoapIn" />
      <wsdl:output message="tns:WebMethodISCompanyActiveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayanehWebServiceSoap" type="tns:PayanehWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebMethodReportingInformationPrividerSedimentedLoadsReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerSedimentedLoadsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTruckersAssociationFinancialReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerTruckersAssociationFinancialReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerContractorCompanyFinancialReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerContractorCompanyFinancialReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerDriverTruckLoadsReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerDriverTruckLoadsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderTransportPriceTarrifsReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationProviderTransportPriceTarrifsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetDSPersonnelFingerPrints">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetDSPersonnelFingerPrints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodComputerMessageProduceCopyOfTurn">
      <soap:operation soapAction="http://tempuri.org/WebMethodComputerMessageProduceCopyOfTurn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodComputerMessageProduceSodoorNobat">
      <soap:operation soapAction="http://tempuri.org/WebMethodComputerMessageProduceSodoorNobat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodCarTruckHasTurn">
      <soap:operation soapAction="http://tempuri.org/WebMethodCarTruckHasTurn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadRegister">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorLoadRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTId">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadEdit">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorLoadEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadDelete">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorLoadDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoads">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyCities">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyCarTypes">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyCarTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoads">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorLoads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorSedimentedLoads">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorSedimentedLoads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSCarTruckBySmartCarNofromRmto">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetNSSCarTruckBySmartCarNofromRmto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBase">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSDriverTruckBySmartCarNofromRmto">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetNSSDriverTruckBySmartCarNofromRmto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBase">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodMobileUserMobileNumberRegistering">
      <soap:operation soapAction="http://tempuri.org/WebMethodMobileUserMobileNumberRegistering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodCreateRelationBetweenCarTruckAndDriverTruck">
      <soap:operation soapAction="http://tempuri.org/WebMethodCreateRelationBetweenCarTruckAndDriverTruck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduce">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiion">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInf">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyGetMoneyWalletInventory">
      <soap:operation soapAction="http://tempuri.org/WebMethodTransportCompanyGetMoneyWalletInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetAllPermissionEnterExits">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetAllPermissionEnterExits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTransportCompaniesDailyMessage">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetTransportCompaniesDailyMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTransportCompaniesFirstPageMessages">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetTransportCompaniesFirstPageMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodISCompanyActive">
      <soap:operation soapAction="http://tempuri.org/WebMethodISCompanyActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayanehWebServiceSoap12" type="tns:PayanehWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebMethodReportingInformationPrividerSedimentedLoadsReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerSedimentedLoadsReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTruckersAssociationFinancialReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerTruckersAssociationFinancialReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerContractorCompanyFinancialReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerContractorCompanyFinancialReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerDriverTruckLoadsReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerDriverTruckLoadsReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerCapacitorLoadsforAnnounceReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerCapacitorLoadsTransportCompaniesRegisteredLoadsReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerAnnouncementHallsPerformanceReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerAnnouncementHallsPerformanceGeneralStatisticsReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerTruckDriversWaitingToGetLoadPermissionReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerTrucksAverageOfSleepDaysToGetLoadPermissionReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationPrividerTravelLengthOfLoadTargetsReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderTransportPriceTarrifsReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationProviderTransportPriceTarrifsReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationProviderIndigenousTrucksWithUNNativeLPReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetDSPersonnelFingerPrints">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetDSPersonnelFingerPrints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodComputerMessageProduceCopyOfTurn">
      <soap12:operation soapAction="http://tempuri.org/WebMethodComputerMessageProduceCopyOfTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodComputerMessageProduceSodoorNobat">
      <soap12:operation soapAction="http://tempuri.org/WebMethodComputerMessageProduceSodoorNobat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodCarTruckHasTurn">
      <soap12:operation soapAction="http://tempuri.org/WebMethodCarTruckHasTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadRegister">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorLoadRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTId">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorLoadRegisterWithTTPTId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadEdit">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorLoadEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoadDelete">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorLoadDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoads">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyCities">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyCarTypes">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyCarTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorLoads">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorLoads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorSedimentedLoads">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorSedimentedLoads" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSCarTruckBySmartCarNofromRmto">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetNSSCarTruckBySmartCarNofromRmto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBase">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetNSSCarTruckBySmartCarNofromLocalDataBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSDriverTruckBySmartCarNofromRmto">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetNSSDriverTruckBySmartCarNofromRmto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBase">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetNSSDriverTruckBySmartCarNofromLocalDataBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodMobileUserMobileNumberRegistering">
      <soap12:operation soapAction="http://tempuri.org/WebMethodMobileUserMobileNumberRegistering" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodCreateRelationBetweenCarTruckAndDriverTruck">
      <soap12:operation soapAction="http://tempuri.org/WebMethodCreateRelationBetweenCarTruckAndDriverTruck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduce">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationMessageProduce" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiion">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyLoadCapacitorSedimentLoadAllocationAndPermisiion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInf">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyGetLoadCapacitorSedimentLoadPermisiionPrintingInf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodTransportCompanyGetMoneyWalletInventory">
      <soap12:operation soapAction="http://tempuri.org/WebMethodTransportCompanyGetMoneyWalletInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetAllPermissionEnterExits">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetAllPermissionEnterExits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTransportCompaniesDailyMessage">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetTransportCompaniesDailyMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTransportCompaniesFirstPageMessages">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetTransportCompaniesFirstPageMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodISCompanyActive">
      <soap12:operation soapAction="http://tempuri.org/WebMethodISCompanyActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayanehWebService">
    <wsdl:port name="PayanehWebServiceSoap" binding="tns:PayanehWebServiceSoap">
      <soap:address location="http://37.255.209.4:2012/PayanehWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PayanehWebServiceSoap12" binding="tns:PayanehWebServiceSoap12">
      <soap12:address location="http://37.255.209.4:2012/PayanehWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>