R2Core/Web References/R2PrimaryFileSharingWS/R2PRIMARYFILESHARINGwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebMethodSaveFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourRawGroupId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourFile" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodSaveFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodGetFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourRawGroupId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodGetFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodIOFileExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourRawGroupId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodIOFileExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodIOFileExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodDeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourRawGroupId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodDeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodDeleteFileResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebMethodSaveFileSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodSaveFile" />
  </wsdl:message>
  <wsdl:message name="WebMethodSaveFileSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodSaveFileResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetFileSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetFile" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetFileSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetFileResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodIOFileExistSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodIOFileExist" />
  </wsdl:message>
  <wsdl:message name="WebMethodIOFileExistSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodIOFileExistResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodDeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodDeleteFile" />
  </wsdl:message>
  <wsdl:message name="WebMethodDeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodDeleteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="R2PrimaryFileSharingWebServiceSoap">
    <wsdl:operation name="WebMethodSaveFile">
      <wsdl:input message="tns:WebMethodSaveFileSoapIn" />
      <wsdl:output message="tns:WebMethodSaveFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetFile">
      <wsdl:input message="tns:WebMethodGetFileSoapIn" />
      <wsdl:output message="tns:WebMethodGetFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodIOFileExist">
      <wsdl:input message="tns:WebMethodIOFileExistSoapIn" />
      <wsdl:output message="tns:WebMethodIOFileExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodDeleteFile">
      <wsdl:input message="tns:WebMethodDeleteFileSoapIn" />
      <wsdl:output message="tns:WebMethodDeleteFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="R2PrimaryFileSharingWebServiceSoap" type="tns:R2PrimaryFileSharingWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebMethodSaveFile">
      <soap:operation soapAction="http://tempuri.org/WebMethodSaveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetFile">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodIOFileExist">
      <soap:operation soapAction="http://tempuri.org/WebMethodIOFileExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodDeleteFile">
      <soap:operation soapAction="http://tempuri.org/WebMethodDeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="R2PrimaryFileSharingWebServiceSoap12" type="tns:R2PrimaryFileSharingWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebMethodSaveFile">
      <soap12:operation soapAction="http://tempuri.org/WebMethodSaveFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetFile">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodIOFileExist">
      <soap12:operation soapAction="http://tempuri.org/WebMethodIOFileExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodDeleteFile">
      <soap12:operation soapAction="http://tempuri.org/WebMethodDeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="R2PrimaryFileSharingWebService">
    <wsdl:port name="R2PrimaryFileSharingWebServiceSoap" binding="tns:R2PrimaryFileSharingWebServiceSoap">
      <soap:address location="http://localhost:2293/R2PRIMARYFILESHARINGwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="R2PrimaryFileSharingWebServiceSoap12" binding="tns:R2PrimaryFileSharingWebServiceSoap12">
      <soap12:address location="http://localhost:2293/R2PRIMARYFILESHARINGwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>